<!DOCTYPE html>
<html>
  <head>
    <title>חשיבה יצירתית</title>
    <link rel="stylesheet" href="creative.css">
  </head>
  <body style="height: 3000px;">
    <div class="creative-mindset-h1">מהי חשיבה יצירתית?</div>

    <div class="quote-1"> 
      <div class="full-quote">
        <div class="white-rect-quotes">
          <div class="gray-rect-quotes">
            <div class="quote-paragraph">  אם אתה יכול לחלום על זה, אתה יכול לעשות את זה. </div>
            <div class="quote-person">-וולט דיסני</div>
          </div>
          <img class="upper-left-quotes" src="src/quetos.png" alt="quotes">
          <img class="lower-right-quotes" src="src/quetos.png" alt="quotes">
        </div>
      </div>

    </div>


<div class="first-part-creativty">
  
  <div class="secend-coulmn"> 
    <img class="img-giraffe" src="src/bret_rdyer_beck_greener-1.png" alt="badger">

    </div>
    
    
      <div class="first-coulmn">

        <div class="first-row-creativty">
          <img class="img-boesh" src="src/brett_ryder_fenwick_badger.png" alt="badger">

          <div class="creative-mindset-para1">יצירתיות היא אחד המושגים הקשים ביותר להגדרה. זהו מושג הטומן בתוכו טווח רחב מאוד של עולמות תוכן וניגודים היכולים לשכון יחד בו-זמנית.
            יצירתיות היא כנראה, המושג הכולל בתוכו את כל הניגודים האפשריים:
            רוח וחומר, גוף ונפש,פשטות ומורכבות, תלות בתוצאה איכותית לצד חשיבות הדרך והתהליך, גאונות וטירוף, אך גם מקריות וגם שיטתיות...</div>
        </div> 
  
        <div class="last-row-creativty">
          <img class="img-dove" src="src/brett_ryder_new_scientist_happiness.png" alt="dove">

          <div class="arrow-vector">
            <svg width="65" height="170" viewBox="0 0 65 170" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_15_4653)">
              <path d="M44.0254 169.244L65 169.244L54.5127 158.8L44.0254 169.244Z" fill="#FF0000"/>
              <path d="M44.0254 133.853L65 133.853L54.5127 123.409L44.0254 133.853Z" fill="#FF0000"/>
              <path d="M44.0254 98.4465L65 98.4465L54.5127 88.0027L44.0254 98.4465Z" fill="#FF0000"/>
              <path d="M44.0254 63.0552L65 63.0552L54.5127 52.6114L44.0254 63.0552Z" fill="#FF0000"/>
              <path d="M44.0254 27.6638L65 27.6638L54.5127 17.2049L44.0254 27.6638Z" fill="#FF0000"/>
              <path d="M0.000263214 152.039L20.9749 152.039L10.4876 141.595L0.000263214 152.039Z" fill="#FF0000"/>
              <path d="M1.90735e-05 116.632L20.9746 116.632L10.4873 106.189L1.90735e-05 116.632Z" fill="#FF0000"/>
              <path d="M1.90735e-05 81.2412L20.9746 81.2412L10.4873 70.7974L1.90735e-05 81.2412Z" fill="#FF0000"/>
              <path d="M1.90735e-05 45.8499L20.9746 45.8499L10.4873 35.406L1.90735e-05 45.8499Z" fill="#FF0000"/>
              <path d="M1.90735e-05 10.4436L20.9746 10.4436L10.4873 -0.000212584L1.90735e-05 10.4436Z" fill="#FF0000"/>
              </g>
              <defs>
              <clipPath id="clip0_15_4653">
              <rect width="65" height="169.244" fill="white" transform="translate(65 169.244) rotate(180)"/>
              </clipPath>
              </defs>
              </svg>
              
          </div>
        </div>
      
    </div>
  </div>
    

    <div class="coulmn1-part2"> 
      <div class="coulmn2-part2">
        <div class="quote-2">
          <div class="quote-1"> 
            <div class="full-quote">
              <div class="white-rect-quotes">
                <div class="gray-rect-quotes">
                  <div class="quote-paragraph">  אם אתה יכול לחלום על זה, אתה יכול לעשות את זה. </div>
                  <div class="quote-person">-וולט דיסני</div>
                </div>
                <img class="upper-left-quotes" src="src/quetos.png" alt="quotes">
                <img class="lower-right-quotes" src="src/quetos.png" alt="quotes">
              </div>
            </div>
      
          </div>
        </div>
        
          <img class="img-sun-matka" src="src/sun-matka.png" alt="sun-matka">
      
         </div>

      <div class="paragraph2">
        <div class="What-Creativity-h1">מדוע יצירתיות?
        </div>
        <div class="paragraph-what-creativity">מחקרים מראים כי ביכולתו של כל אדם באשר הוא להיות יצירתי, ללמוד, להתאמן ולהשתכלל ביכולת היצירתיות. הגישה מזהה את היצירתיות כצורך חיוני אנושי, שבלעדיו אין התפתחות ואין שינוי והכרחי לכל ארגון על מנת לשרוד, להתקיים ולהצליח. 
          כל ארגון זקוק להיבטים שונים מעולם היצירתיות - אם בשלב פיתוח המוצרים או בשלב המכירות והתחרות, בהיבטים שונים של ניהול ובאלה של התקשורת הבינאישית בארגון. </div>
        <div class="paragraph-what-creativity-bold">יצירתיות מאפשרת לנו לפתור בעיות שלא הצלחנו לפתור, חוסכת זמן ומקצרת תהליכים, חוסכת כסף ומשאבים, מוסיפה עניין וצבע לחיים ובעיקר: יצירתיות מאפשרת מימוש עצמי מלא יותר.
          בחיפוש בחייו של כל אחד מאיתנו נוכל למצוא את הנסיבות שבהן אנו פורחים ובהן אנו מצליחים להיות שונים, גמישים יותר, עצמאיים יותר במחשבתנו - וזוהי, למעשה, תחילתה של היצירתיות.
          היכולת שלנו להביא עצמנו לידי ביטוי עצמאי היא המפתח להתקיימותה של יצירתיות. </div>
      </div>

      
    </div>
  </body>

</html>

