.creative-mindset-h1
{
  margin-top: 400px;
  display: block;
  direction: rtl;
  font-family: "Assistant", sans-serif;
  font-weight: bold;
  font-size: 85px;
  color: #161C2D;
  text-align: center;
}
.first-part-creativty{
  display: flex;
}
.quote-1{
  display: block;
  background-color: aqua;
  height: 260px;
}

.first-coulmn{
  flex: 1;
  height: 850px;
  background-color: rgb(43, 43, 226);
  
}
.secend-coulmn{
  flex: 1.1;
  
  height: 850px;
  background-color: rgb(226, 128, 43);
}
.img-giraffe{
  height: 850px;
  margin-left: 100px;
}
.first-row-creativty{
  justify-content: space-between;
  display: flex;
  height: 430px;
  background-color: rgb(43, 226, 171);
  margin-bottom: 30px;
}
.creative-mindset-para1{
  flex: 0.6;
  direction: rtl;
  font-family: "Assistant", sans-serif;
  font-weight: normal;
  font-size: 27px;
  color: #161C2D;
  text-align: right;
  background-color: rgb(199, 22, 181);
}
.img-boesh{
  margin-left: 40px;
  flex: 0.35;
  background-color: rgb(187, 199, 22);

}
.last-row-creativty{
  justify-content: space-between;
  display: flex;
  height: 420px;
  background-color: rgb(199, 57, 22);
}
.img-dove{
  margin-left: 20%;
  flex: 0.3;
  background-color: rgb(81, 199, 22);
}
.arrow-vector{
  margin-right: 20%;
  flex: 0.3;
  background-color: rgb(81, 199, 22);
}

.coulmn1-part2{
  display: flex;
}
.paragraph2{

  flex: 1;
  height: 850px;
  background-color: rgb(91, 123, 191);
}
.What-Creativity-h1{
  margin-top: 30px;
  height: 76px;
  display: block;
  direction: rtl;
  font-family: "Assistant", sans-serif;
  font-weight: bold;
  font-size: 40px;
  color: #F64B4B;
  text-align: right;
  margin-right: 30px;
  background-color: rgb(18, 58, 39);
}

.paragraph-what-creativity{
  margin-top: 30px;
  height: 250px;
  display: block;
  direction: rtl;
  font-family: "Assistant", sans-serif;
  font-weight: normal;
  font-size: 27px;
  color: #000000;
  text-align: right;
  margin-right: 30px;
  background-color: rgb(12, 79, 48);
}
.paragraph-what-creativity-bold{
  margin-top: 30px;
  height: 350px;
  display: block;
  direction: rtl;
  font-family: "Assistant", sans-serif;
  font-weight: bold;
  font-size: 24px;
  color: #000000;
  text-align: center;
  margin-right: 30px;
  background-color: rgb(87, 106, 179);
}
.coulmn2-part2{
  flex: 1.1;
  
  height: 850px;
  background-color: rgb(226, 43, 156);
}
.quote-2{
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
  height: 250px;
  display: block;
  background-color: rgb(28, 202, 121);
}
.img-sun-matka{
  margin-left: 100px;
  margin-right: 100px;
  height: 600px;
  display: block;
  background-color: rgb(26, 28, 156);
}
/* תחילת עיצוב פסוק */
.white-rect-quotes{
  display: flex;
  width: 600px;
  height: 200px;
  background-color: white;
  position: relative;  
  align-items: center;
  justify-content: center;
  
}

.full-quote{
  display: block;
  float: right; 
  margin-top: 50px;
  margin-right: 70px;
}
.gray-rect-quotes{
  width: 536px;
  height: 136px;
  background-color:#ECF0F4 ;
  
}
.quote-paragraph{
  direction: rtl;
  font-family: "Assistant", sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: #191825;
  margin-top: 11px;
  margin-left: 100px;
  width: 399px;
}
.quote-person{
  direction: rtl;
  font-family: "Assistant", sans-serif;
  font-weight:lighter;
  font-size: 27px;
  color: #191825;
  margin-left: 33px;
  width: 113px;
}
.upper-left-quotes,.lower-right-quotes {
  position: absolute;
  width: 72px;
  height: 62px;
}
.upper-left-quotes{
top: 15px;
left: 6px;
}
.lower-right-quotes{
    right: 6px;
    bottom: 15px;
    rotate: 180deg;
}


/* סוף פסוק */





























